- zun√§chst ins Verzeichnis gehen in dem die .pkl Dateien liegen

In [6]:
! pip install joblib
! pip install numpy
! pip install joblib

Looking in indexes: https://aws:****@ksbml-159605054959.d.codeartifact.eu-central-1.amazonaws.com/pypi/default/simple/
Requirement already satisfied: joblib in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (1.0.1)
Looking in indexes: https://aws:****@ksbml-159605054959.d.codeartifact.eu-central-1.amazonaws.com/pypi/default/simple/
Requirement already satisfied: numpy in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (1.19.5)
Looking in indexes: https://aws:****@ksbml-159605054959.d.codeartifact.eu-central-1.amazonaws.com/pypi/default/simple/
Requirement already satisfied: joblib in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (1.0.1)

In [7]:
import joblib
import numpy
import pandas

In [8]:
with open("summarizing_statistics.pkl", 'rb') as f:
    summarizing_statistics = joblib.load(f)

In [10]:
summarizing_statistics

,number_of_datapoints,energy_norm_log_mean,temperature_diff_mean,rms_norm_log_mean,details_ratedhead_mean,energy_norm_log_min,temperature_diff_min,rms_norm_log_min,details_ratedhead_min,energy_norm_log_max,temperature_diff_max,rms_norm_log_max,details_ratedhead_max,Covariance_matrix
on,9680213,1.86194,9.51319,0.730331,105.324,-5.91448,-24,-3.0439,-1,9.21209,110.625,6.30874,2403,"[[4.054988675775044, 1.6181932043448362, 1.438..."
off,16775063,-3.22613,1.27451,-1.54288,89.3192,-10.6052,-38.875,-4.43031,-1,7.58884,109.141,4.13824,2403,"[[1.5394827351582467, 0.21880415026212985, 0.7..."
all,26455276,-1.36436,4.28912,-0.711095,95.1754,-10.6052,-38.875,-4.43031,-1,9.21209,110.625,6.30874,2403,"[[8.466562429846425, 10.45687699516861, 3.7031..."